/* == Custom Font == */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* == Reset & Global configs. == */
* {
  border: none; 
  font-size: 100%;
  font-family: 'Architects Daughter', cursive;
  margin: 0; 
  outline: none;
  padding: 0; 
}

a {
  text-decoration: none;
}

body {
  position: relative;
  background-color: #01303f;
}

h2 {
  font-size: 2em;
}

img {
  max-width: 100%;
}

section {
  height: calc(100vh - 10rem);
}

ul {
  list-style: none;
}

:target { 
  scroll-margin-top: 5em;
} 

/* == Main Content == */

/* == Home == */
.home-content {
  background-color: #CDD2E7;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  text-align: center;
}

.home-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.home-paragraph {
  font-size: 1.2em;
  padding: 0px 25px;
  color: #919ACA;
}

.home-highlight-text {
  color: #4F5DA5;
}

.home-title {
  border: none;
  color: #919ACA;
}

.home-img {
  width: 200px;
  height: 200px;
}

/* == About Me == */
.about-content{
  background-color: #4F5DA5;
}

.about-title {
  color: #141724;
}