/* == Custom Font == */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* == Reset == */
* {
  margin: 0; 
  padding: 0; 
  border: none; 
  outline: none;
  font-size: 100%;
  font-family: 'Architects Daughter', cursive;}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

:target { 
  scroll-margin-top: 3.8em;
} 

/* == Menu == */

#navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  padding: 10px 0px;
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.logo {
  width: max-content;
  float: left;
  font-size: 2em;
  font-weight: 900;
  color: white;
}

.logo:hover {
  color: lightgray;
  border-top: rgba(78, 120, 197,0.6) 1px solid;
  border-bottom: rgba(78, 120, 197,0.6) 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-menu-wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-menu { 
  width: 30px;
  height: 4px;
  border: none;
  background:white;
  float: right;
}

.btn-menu:hover {
  cursor: pointer;
}

.btn-close {
  cursor: pointer;
  font-size: 3em;
  float: right;
  margin-right: 15%;
  color: #fff;
}

.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  left: 0;
  display: none;
}

.menu ul {
  width: 100%;
  float: left;
  text-align:center
}

.menu li {
  padding: 2%;
}

.menu li a {
  font-size: 2em;
  color: #fff;
}

.menu li a:hover {
  color: rgba(78, 120, 197,0.6) ;
}

.menu li a.active {
  border-bottom: rgba(78, 120, 197,0.6) 1px solid;
  border-top: rgba(78, 120, 197,0.6) 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(177, 174, 174, 0.938);
  font-size: 2.2em;
  transition: ease-out 0.3s;
}

/* == Content == */
section {
  height: 700px;
  border: 1px solid black;
  display: flex;
  align-items: top;
  justify-content: center;
}


/* == Footer == */
footer {
  position: sticky;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 0.9em;
}

footer p {
  border-top: solid 1px gray;
  padding: 5px 0px;
}

#social-links-wrapper {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

#social-links-wrapper img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}

/* == Animations == */

.tracking-in-expand {
	animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.text-focus-in {
  animation: text-focus-in 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/* == Responsive == */
/* Tablets */
@media screen and (min-width: 768px) {
  .btn-menu {
    width: 35px;
    height: 5px;
  }
 
   .menu li a {
    font-size: 2em;
  }

  footer {
    font-size: 1em;
  }
}

/* Notebooks */
@media screen and (min-width: 1024px) {
  .btn-menu, .btn-close {
    display: none;
  }

  .menu {
    background-color: transparent;
    width: auto;
    height: 50px;
    line-height: 50px;
    float: right;
    display: block !important;
    position: static;
    visibility: visible;
    transition: none;
    opacity: 1;
  }

  .menu li {
    padding: 0;
    float: left;
  }

  .menu li a {
    color: white;
    font-size: 0.9em;
    padding: 15px 10px;
  }

  .menu li a.active {
    font-size: 1em;
  }

  footer {
    font-size: 1em;
  }

  #social-links-wrapper img:hover {
    transform: translateY(-2px);
  }

}