/* == Responsive == */
/* Tablets */
@media screen and (min-width: 768px) {
  .about-img {
    border: 2px solid #0d0b7d;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
  }

  .about-paragraph {
    margin: 30px auto;
  }
}

/* Notebooks */
@media screen and (min-width: 1024px) {
  .home-img {
    width: 350px;
    height: 350px;
  }

  .about-img {
    width: 200px;
    height: 200px;
  }

  .about-paragraph {
    text-align: justify;
  }
}

/* 1440p */
@media screen and (min-width: 1440px) {
  .home-img {
    width: 400px;
    height: 400px;
  }
}

/* 1920p */
@media screen and (min-width: 1920px) {
  .home-img {
    width: 450px;
    height: 450px;
  }

  .about-img {
    width: 275px;
    height: 275px;
  }
}
