/* == Responsive == */
/* Tablets */
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.2em;
  }

  .logo {
    font-size: 2em;
  }

  .btn-menu {
    width: 35px;
    height: 5px;
  }

  .menu li a {
    font-size: 1.7em;
  }

  .menu li a.active {
    font-size: 2em;
  }

  .home-img {
    width: 250px;
    height: 250px;
  }

  .home-div {
    flex-direction: row;
    align-items: center;
  }

  .about-img {
    border: 3px solid #cdd2e7;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
  }

  .about-div {
    gap: 10px;
  }

  .about-paragraph {
    margin: 15px auto;
  }

  .qualification-div {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 125px;
  }

  .qualification-paragraph {
    width: 300px;
  }

  .experience-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }

  .experience-div {
    margin: 0;
  }

  .experience-div ul {
    width: max-content;
  }

  footer {
    font-size: 1em;
  }
}

/* Notebooks */
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2.5em;
  }

  p,
  h3 {
    font-size: 1.1em;
  }

  .navbar {
    gap: 0px;
  }

  .btn-menu,
  .btn-close {
    display: none;
  }

  .menu {
    background-color: transparent;
    width: auto;
    height: 50px;
    line-height: 50px;
    float: right;
    display: block !important;
    position: static;
    visibility: visible;
    transition: none;
    opacity: 1;
  }

  .menu li {
    padding: 0;
    float: left;
  }

  .menu li a {
    color: #cdd2e7;
    font-size: 1em;
    padding: 15px 10px;
  }

  .menu li a.active {
    font-size: 1.1em;
    color: #141724;
  }

  .menu li a:hover {
    background-color: #cdd2e7;
    color: #141724;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.1em;
    transition: ease-out 0.3s;
  }

  .home-content {
    padding: 0px 100px;
  }

  .home-img {
    width: 300px;
    height: 300px;
  }

  .about-content {
    padding: 0px 100px;
  }

  .about-img {
    width: 200px;
    height: 200px;
  }

  .qualification-content {
    padding: 0px 100px;
  }

  .qualification-div {
    gap: 190px;
  }

  .qualification-paragraph {
    width: 350px;
  }

  .experience-content {
    padding: 0px 100px;
  }

  .experience-wrapper {
    gap: 190px;
  }

  footer {
    font-size: 1em;
  }
}

/* 1440p */
@media screen and (min-width: 1440px) {
  h2 {
    font-size: 3em;
  }

  p,
  h3 {
    font-size: 1.2em;
  }

  .home-content {
    padding: 0px 200px;
  }

  .about-content {
    padding: 0px 200px;
  }

  .qualification-content {
    padding: 0px 200px;
  }

  .qualification-div {
    gap: 400px;
  }

  .experience-content {
    padding: 0px 200px;
  }

  .experience-wrapper {
    gap: 400px;
  }

  .home-img {
    width: 400px;
    height: 400px;
  }
}
